@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
.snap-container {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  
}

.snap-container::-webkit-scrollbar {
  width: 8px;
  display: none;
}

.snap-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;

}

.snap-container::-webkit-scrollbar-thumb {
  display: none;

  background: #888;
  border-radius: 4px;
}

.snap-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  display: none;

} */
.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.snap-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}